main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

nav {
    height: 6rem;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    background-color: #fb8500;
    padding: 1rem;
    margin-bottom: 2rem;
}

.nav-link {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem;
    background-color: #fb8500;
}

.nav-link:hover {
    display: flex;
    border-radius: 2rem;
    background-color: #ffb703;
    transform: scale(1.4, 1.4);
    transition-duration: 0.2s;
    cursor: pointer;
}

.nav-link:active {
    background-color: #ffee32;
}

.nav-icon {
    display: flex;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem 1rem 1rem;
}

.hero-title {
    margin-bottom: 1rem;
}

.hero-paragraph {
    max-width: 40%;
}

.add-card-container {
    display: flex;
    margin-bottom: 2rem;
    border-radius: 4rem;
    background-color: #ffb703;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
}

.add-card-container:hover {
    display: flex;
    border-radius: 4rem;
    background-color: #18ff59;
    /* background-color: #ffb703; */
    transform: scale(1.4, 1.4);
    transition-duration: 0.2s;
    cursor: pointer;
}

.add-card-container:active {
    background-color: #dfffd2;
}

.add-card-icon {
    display: flex;
    align-items: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* padding: 1rem; */
    padding: 1rem 0 0 0;
    margin: 0 1rem 1rem 1rem;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    border-radius: 0.4rem;
    background-color: #dfffd2;
}

.single-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 1rem 1rem;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    border-radius: 0.4rem;
}

.new-card-input-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

/* .new-card-inputfield {

} */

.new-card-input-icon {
    display: flex;
    margin-left: 0.6rem;
    border-radius: 4rem;
    background-color: #ffb703;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
}

.new-card-input-icon:hover {
    display: flex;
    border-radius: 4rem;
    background-color: #18ff59;
    transform: scale(1.4, 1.4);
    transition-duration: 0.2s;
    cursor: pointer;
}

.new-card-input-icon:active {
    background-color: #dfffd2;
}
